#  Enums
```plantuml
@startuml

{% for enum in xtx.get_children_of_type("Enum", schema) %}
enum {{enum.name}} {
    {% for value in enum.values %}
    {{value}}
    {% endfor %}
}

{% endfor %}

@enduml
```


# Bases
```plantuml
@startuml

{% for base in xtx.get_children_of_type("Base", schema) %}
abstract class {{base.name}} {% if base.supertype %}<extends {{base.supertype.name}}> {% endif %}{
    {% for field in util.get_fields_as_list(base) %}
    {{field.name}}: {{"[" if field.is_array}}{{field.value.name}}{{"]" if field.is_array}}
    {% endfor %}
}

{% endfor %}

@enduml
```


# Model Overview
```plantuml
@startuml

{% for object in xtx.get_children_of_type("Object", schema) %}
{% if object.namespace %}
namespace {{object.namespace}} #DDDDDD {
{% endif %}
class {{object.name}} {% if object.supertype %}<implements {{object.supertype.name}}> {% endif %}{
    {% for field in util.get_fields_as_list(object) if not field.is_composition and not field.is_aggregation %}
    {{field.name}}: {{"[" if field.is_array}}{{field.value.name}}{{"]" if field.is_array}}
    {% endfor %}

    {% for operation in object.api.operations %}
    {method} {{operation.method | upper}} {{operation.name}}()
    {% endfor %}
}
{% if object.namespace %}
}
{% endif %}

{% endfor %}

{% for obj in xtx.get_children_of_type("Object", schema) %}
  {% for field in util.get_aggregation(obj) %}
{{field.parent.namespace + "." if field.parent.namespace}}{{field.parent.name}} --o {{obj.namespace + "." if obj.namespace}}{{obj.name}}
  {% endfor %}
  {% for field in util.get_compositions(obj) %}
{{field.parent.namespace + "." if field.parent.namespace}}{{field.parent.name}} --* {{obj.namespace + "." if obj.namespace}}{{obj.name}}
  {% endfor %}
{% endfor %}


@enduml
```
