#  Enums
```plantuml
@startuml

{% for enum in xtx.get_children_of_type("Enum", model) %}
enum {{enum.name}} {
    {% for value in enum.values %}
    {{value}}
    {% endfor %}
}

{% endfor %}

@enduml
```


# Bases
```plantuml
@startuml

{% for base in xtx.get_children_of_type("Base", model) %}
abstract class {{base.name}} {% if base.supertype %}<extends {{base.supertype.name}}> {% endif %}{
    {% for field in util.get_fields_as_list(base) %}
    {{field.name}}: {{field.value.name}}
    {% endfor %}
}

{% endfor %}

@enduml
```


# Model Overview
```plantuml
@startuml

{% for object in xtx.get_children_of_type("Object", model) %}
{% if object.namespace %}
namespace {{object.namespace}} #DDDDDD {
{% endif %}
class {{object.name}} {% if object.supertype %}<implements {{object.supertype.name}}> {% endif %}{
    {% for field in util.get_fields_as_list(object) if util.get_filtered_fields(field) %}
    {{field.name}}: {% if field.array %}[{% endif %}{{field.value.name}}{% if field.array %}]{% endif %}

    {% endfor %}

    {% for operation in util.get_operations_of_object(object) %}
    {method} {{ operation.method | upper }} {{ operation.name }}()
    {% endfor %}
}
{% if object.namespace %}
}
{% endif %}

{% endfor %}

{% for obj in util.get_domain_objects() %}
    {% if util.is_aggregation(obj, obj.d_parent) %}
{% if obj.d_parent.namespace %}{{obj.d_parent.namespace}}.{% endif %}{{ obj.d_parent.name }} --o {% if obj.parent %}{{obj.namespace}}.{% endif %}{{ obj.name }}
    {% endif %}
    {% if util.is_composition(obj, obj.d_parent) %}
{% if obj.d_parent.namespace %}{{obj.d_parent.namespace}}.{% endif %}{{ obj.d_parent.name }} --* {% if obj.parent %}{{obj.namespace}}.{% endif %}{{ obj.name }}
    {% endif %}
{% endfor %}


@enduml
```
