{# 
  Returns the class annotation
#}
{% macro class_annotation() %}
  {{- "@Entity" if (model.is_object and model.is_crud) }}
  {{- "@Embeddable" if model.is_base }}
{% endmacro %}

{# 
  Returns a class identifier.
#}
{% macro attribute_annotation(attr) -%}
  {#
    ID
  #}
  {% if attr.is_id %}
  @Id
    {% if attr.is_read_only %}
  @GeneratedValue(generator="optimized-sequence")
    {% endif %}
  {% endif %}
  {#
    Serialization for objects
  #}
  {% if attr.type == "ObjectNode" %}
  @Lob
  @Convert(converter = {{base_package}}.util.NodeConverter.class)
  {% endif %}
  {#
    Relations
  #}
  {% if attr.is_relation and not attr.forgein_key_field %}
      {# the parent side of the relation  #}
      {% if attr.is_aggregation and attr.is_array %}
  @ManyToMany(fetch = FetchType.LAZY)
  @JoinTable(name = "{{model.name|lower}}_to_{{attr.type|lower}}", joinColumns = @JoinColumn(name = "{{model.name|lower}}_id"), inverseJoinColumns = @JoinColumn(name = "{{attr.type|lower}}_id"))
      {% elif attr.is_aggregation and not attr.is_array %}
  @ManyToOne(fetch = FetchType.LAZY)
  @JoinColumn(name="{{attr.type|lower}}_id")
      {% elif attr.is_composition and attr.is_array %}
  @OneToMany(mappedBy = "{{model.name|lower}}", fetch = FetchType.LAZY, orphanRemoval = true)
      {% elif attr.is_composition and not attr.is_array %}
  @OneToOne(mappedBy = "{{model.name|lower}}", fetch = FetchType.LAZY, orphanRemoval = true)
      {% endif %}
  {% elif attr.is_relation and attr.forgein_key_field %}
      {# the child side of the relation  #}
      {% if attr.is_aggregation and attr.forgein_key_field.is_array %}
  @ManyToMany(mappedBy = "{{attr.forgein_key_field.name}}", fetch = FetchType.LAZY)
      {% elif attr.is_aggregation and not attr.forgein_key_field.is_array  %}
  @OneToMany(mappedBy = "{{attr.forgein_key_field.name}}", fetch = FetchType.LAZY)
      {% elif attr.is_composition and attr.forgein_key_field.is_array %}
  @ManyToOne(fetch = FetchType.LAZY)
  @JoinColumn(name="{{attr.type|lower}}_id")
      {% elif attr.is_composition and not attr.forgein_key_field.is_array %}
  @OneToOne(fetch = FetchType.LAZY)
  @JoinColumn(name="{{attr.type|lower}}_id")
      {% endif %}
  {% elif attr.is_base and attr.is_array %}
  @ElementCollection
  {% elif attr.is_base and not attr.is_array %}
  @Embedded 
  {% endif %}
{% endmacro %}

