{% macro logic(operation) -%}
  {% if operation.method == "get" and operation.is_pageable %}
    {# 
     ########################################################################################
      Get all entities.
    #}
    {% if operation.domain_parent %}
    // confirm existence of parent
    validate{{ operation.path_parameters[0].name | pascal }}({{ operation.path_parameters[0].name }});

    {% endif %}
    List<{{api.name}}> items = {{api.name|lower}}Repository.{{ operation.get_repo_find_all_name() }}({{ operation.get_repo_find_all_parameters() }});

    Long totalCount = pageable.totalCount({{api.name|lower}}Repository);
    String nextCursor = pageable.nextCursor(items);

    {% if encapsulation %}
    ObjectList ret = new ObjectList()
        .setTotalCount(totalCount)
        .setNextCursor(nextCursor)
        .setItems(items);
    {% else %}
    ObjectList ret = new ObjectList();
    ret.totalCount = totalCount;
    ret.nextCursor = nextCursor;
    ret.items = items;
    {% endif %}

    return ret;
  {% elif operation.method == "post" and ( operation.path.endswith('/add') or operation.path.endswith('/remove') ) %}
    {# 
     ########################################################################################
      Create a entity.
    #}
    // confirm existence of parent
    validate{{ operation.path_parameters[0].name | pascal }}({{ operation.path_parameters[0].name }});

    // link to parent
    {{ operation.domain_parent.name }} {{ operation.domain_parent.name|lower }} = entityManager.getReference({{ operation.domain_parent.name }}.class, {{ operation.path_parameters[0].name }});
    {{ operation.domain_object.name }} {{ operation.domain_object.name|lower }} = entityManager.getReference({{ operation.domain_object.name }}.class, {{ operation.path_parameters[1].name }});
    
    {% if operation.path.endswith('/add') %}
    {{ operation.domain_parent.name|lower }}.add{{ operation.domain_object.name }}sItem({{ operation.domain_object.name | lower }});
    {% elif operation.path.endswith('/remove') %}
    {{ operation.domain_parent.name|lower }}.remove{{ operation.domain_object.name }}sItem({{ operation.domain_object.name | lower }});
    {% endif %}

    {{ operation.domain_parent.name|lower }}Repository.save({{ operation.domain_parent.name|lower }});

    return null;
  {% elif operation.method == "post" %}
    {# 
     ########################################################################################
      Create a entity.
    #}
    {% if operation.domain_parent %}
    // confirm existence of parent
    validate{{ operation.path_parameters[0].name | pascal }}({{ operation.path_parameters[0].name }});

    // add parent relation
    {{ operation.domain_parent.name }} {{ operation.domain_parent.name|lower }} = entityManager.getReference({{ operation.domain_parent.name }}.class, {{ operation.path_parameters[0].name }});
    body.set{{ operation.domain_parent.name }}({{ operation.domain_parent.name|lower }});

    {% endif %}
    {{api.name}} ret = {{api.name|lower}}Repository.save(body);

    return ret;
  {% elif operation.method == "get" %}
    {# 
     ########################################################################################
      Get a entity.

    #}
    {% if operation.domain_parent %}
    // confirm existence of parent
    validate{{ operation.path_parameters[0].name | pascal }}({{ operation.path_parameters[0].name }});

    {% endif %}
    {{api.name}} ret = {{api.name|lower}}Repository.find{{ operation.get_repo_by_id_name() }}({{ operation.get_repo_by_id_parameters() }}).orElse(null);

    if (ret == null) {
      throw new ApiException(Errors.NOT_FOUND, "{{api.name}} " + {{operation.path_parameters[-1].name}}.toString() + " does not exist");
    }

    return ret;
  {% elif operation.method == "put" %}
    {# 
     ########################################################################################
      Replace entities.
    #}
    {% if operation.domain_parent %}
    // confirm existence of parent
    validate{{ operation.path_parameters[0].name | pascal }}({{ operation.path_parameters[0].name }});

    // add parent relation
    {{ operation.domain_parent.name }} {{ operation.domain_parent.name|lower }} = entityManager.getReference({{ operation.domain_parent.name }}.class, {{ operation.path_parameters[0].name }});
    body.set{{ operation.domain_parent.name }}({{ operation.domain_parent.name|lower }});

    {% endif %}
    {{api.name}} dbEntity = {{api.name|lower}}Repository.find{{ operation.get_repo_by_id_name() }}({{ operation.get_repo_by_id_parameters() }}).orElse(null);

    if (dbEntity == null) {
      throw new ApiException(Errors.NOT_FOUND, "{{api.name}} " + {{operation.path_parameters[-1].name}}.toString() + " does not exist");
    }

    // update new object with all readOnly fields from previous entry
    body.copyIdentiy(dbEntity);
    {% for p in operation.get_read_only_parameters(encapsulation) %}
      {% if encapsulation %}
    body.set{{p}}(dbEntity.get{{p}}());
      {% else %}
    body.{{p}} = dbEntity.{{p}};
      {% endif %}
    {% endfor %}

    {{api.name}} ret = {{api.name|lower}}Repository.save(body);

    return ret;
  {% elif operation.method == "patch" %}
    {# 
     ########################################################################################
      Patch entities.
    #}
    {% if operation.domain_parent %}
    // confirm existence of parent
    validate{{ operation.path_parameters[0].name | pascal }}({{ operation.path_parameters[0].name }});

    // add parent relation
    {{ operation.domain_parent.name }} {{ operation.domain_parent.name|lower }} = entityManager.getReference({{ operation.domain_parent.name }}.class, {{ operation.path_parameters[0].name }});
    body.set{{ operation.domain_parent.name }}({{ operation.domain_parent.name|lower }});

    {% endif %}
    {{api.name}} dbEntity = {{api.name|lower}}Repository.find{{ operation.get_repo_by_id_name() }}({{ operation.get_repo_by_id_parameters() }}).orElse(null);

    if (dbEntity == null) {
      throw new ApiException(Errors.NOT_FOUND, "{{api.name}} " + {{operation.path_parameters[-1].name}}.toString() + " does not exist");
    }

    // update dbEntity with all writeable fields if present
    {% for p in operation.get_writable_parameters(encapsulation) %}
      {% if encapsulation %}
    Optional.ofNullable(body.get{{p}}()).ifPresent(v -> dbEntity.set{{p}}(v));
      {% else %}
    Optional.ofNullable(body.{{p}}).ifPresent(v -> dbEntity.{{p}} = v);
      {% endif %}
    {% endfor %}

    {{api.name}} ret = {{api.name|lower}}Repository.save(dbEntity);

    return ret;
  {% elif operation.method == "delete" %}
    {# 
     ########################################################################################
      Delete entities.
    #}
    {% if operation.domain_parent %}
    // confirm existence of parent
    validate{{ operation.path_parameters[0].name | pascal }}({{ operation.path_parameters[0].name }});

    {% endif %}
    if (!{{api.name|lower}}Repository.exists{{ operation.get_repo_by_id_name() }}({{ operation.get_repo_by_id_parameters() }})) {
      throw new ApiException(Errors.NOT_FOUND, "{{api.name}} " + {{operation.path_parameters[-1].name}}.toString() + " does not exist");
    }

    {% if api.has_aggregation %}
    {{api.name|lower}}Repository.removeRelations({{operation.path_parameters[-1].name}});
    {% endif %}
    {{api.name|lower}}Repository.deleteById({{operation.path_parameters[-1].name}});

    return null;
  {% endif %}
{% endmacro %}