{
  "files.exclude": {
    "**/.classpath": true,
    "**/.project": true,
    "**/.settings": true,
    "**/.factorypath": true
  },
  "java.configuration.updateBuildConfiguration": "automatic",
  "java.format.settings.profile": "ModifiedGoogleStyle",
  "java.format.settings.url": ".vscode/eclipse-java-google-style.xml",
  "java.sources.organizeImports.starThreshold": 2,
  "java.sources.organizeImports.staticStarThreshold": 2,
  "java.import.exclusions": [],
  "java.completion.importOrder": [
    "{{base_package}}",
    "",
    "jakarta",
    "javax",
    "java",
    "#"
  ],
}