{% macro logic(operation) -%}
  {% if operation.method == "get" and operation.is_pageable and operation.is_crud %}
    {# 
      Get all entities.
    #}
    List<{{api.name}}> items = {{api.name|lower}}Repository.findAll();

    Long totalCount = pageable.totalCount({{api.name|lower}}Repository.count());
    String nextCursor = pageable.nextCursor(items);

    {{api.name}}List ret = new {{api.name}}List()
        .setTotalCount(totalCount)
        .setNextCursor(nextCursor)
        .setItems(items);

    return ret;

  {% elif operation.method == "post"  %}
    {# 
      Create a entity.
    #}
    {{api.name}} ret = {{api.name|lower}}Repository.save(body);

    return ret;
  {% elif operation.method == "get"  %}
    {# 
      Get a entity.
    #}
    {{api.name}} ret = {{api.name|lower}}Repository.findById(id).orElse(null);

    if (ret == null) {
      throw new ApiException(AppError.NOT_FOUND, "{{api.name}} " + id.toString() + " does not exist");
    }

    return ret;
  {% elif operation.method == "put"  %}
    {# 
      Replace entities.
    #}
    {{api.name}} dbEntity = {{api.name|lower}}Repository.findById(id).orElse(null);

    if (dbEntity == null) {
      throw new ApiException(AppError.NOT_FOUND, "{{api.name}} " + id.toString() + " does not exist");
    }

    // copy readOnly fields
    body.setId(dbEntity.getId());

    {{api.name}} ret = {{api.name|lower}}Repository.save(body);

    return ret;
  {% elif operation.method == "patch"  %}
    {# 
      Patch entities.
    #}
    {{api.name}} dbEntity = {{api.name|lower}}Repository.findById(id).orElse(null);

    if (dbEntity == null) {
      throw new ApiException(AppError.NOT_FOUND, "{{api.name}} " + id.toString() + " does not exist");
    }

    // all writeable fields
    if (body.getName() != null) {
      dbEntity.setName(body.getName());
    }

    {{api.name}} ret = {{api.name|lower}}Repository.save(dbEntity);

    return ret;
  {% elif operation.method == "delete"  %}
    {# 
      Delete entities.
    #}
    if (!{{api.name|lower}}Repository.existsById(id)) {
      throw new ApiException(AppError.NOT_FOUND, "{{api.name}} " + id.toString() + " does not exist");
    }

    {{api.name|lower}}Repository.deleteById(id);

    return null;
  {% endif %}
{% endmacro %}