{% import 'macro/macro.j2' as macro with context %}
{% set base = type %}
{% if base.description %}
{{ base.description }}
{% endif %}
interface {{base.name}} {
    {{ macro.render_fields(base) | indent(2) | trim }}
}
{% if util.is_nested(base) %}

input {{base.name}}Input {
    {{ macro.render_input(base) | indent(2) | trim }}
}
{% endif %}
{{""}}