{################################################################}
{% macro render_namespace(namespace) %}
# begin namespace {{ namespace.name }}
    {% for type in namespace.types %}
    {{ render_loop(type) | indent(4) | trim }}

    {% endfor %}
# end namespace {{ namespace.name }}
{% endmacro %}

{################################################################}
{% macro render_scalar(scalar) %}
scalar {{scalar.name}}
{% endmacro %}

{################################################################}
{% macro render_enum(enum) %}
enum {{enum.name}} {
    {% for value in enum.values %}
    {{value}}
    {% endfor %}
}
{% endmacro %}

{################################################################}
{% macro render_interface(interface) %}
interface {{interface.name}}{
    {{ render_fields(interface) | indent(2) | trim }}
}
{% endmacro %}

{################################################################}
{% macro render_object(object) %}
# begin object {{ object.name }} 
type {{object.name}} {% if object.superType %}implements {{object.superType.name}} {% endif %}{
    {{ render_fields(object, filter_wo=True) | indent(2) | trim }}
}
{% if (not object.query and not object.mutation) or object.query %}

extend type Query {
    {% for operation in util.get_operations_of_object(object) if operation.method == "get" %}
    {{ operation.name -}}
        {{ render_arguments(operation) | trim -}}
      {% if operation.response %}: {{ render_response(operation) | trim }}
      {% else %}: Void
      {% endif %}
    {% endfor %}
}
{% endif %}
{% if (not object.query and not object.mutation) or object.mutation %}

extend type Mutation {
  {% for operation in util.get_operations_of_object(object) if operation.method != "get" %}
    {{ operation.name -}}
        {{ render_arguments(operation) | trim -}}: {{ operation.name }}Payload
  {% endfor %}
}
  {% for operation in util.get_operations_of_object(object) if operation.method != "get" and operation.request %}

input {{ operation.name }}Input {
    {% for parameter in operation.request %}
      {% if loop.length == 1 and parameter._tx_fqn =="entity.Object" %}
    {{ render_input(object) | indent(2) | trim }}
      {% elif parameter.value._tx_fqn =="entity.Object" %}
    {{ render_input(parameter.value) | indent(2) | trim }}
      {% else %}
    {{ render_field(parameter) | indent(2) | trim }}
      {% endif %}
    {% endfor %}
}
  {% endfor %}
  {% for operation in util.get_operations_of_object(object) if operation.method != "get"%}

type {{ operation.name }}Payload implements Response {
    code: String!
    success: Boolean!
    message: String!
    {% if operation.response %}
    response: {{ render_response(operation) }}
    {% endif %}
}
  {% endfor %}
{% endif %}
# end object {{ object.name }}
{% endmacro %}

{################################################################}
{% macro render_loop(type) %}
{% if type._tx_fqn == "entity.NameSpace" %}{{ render_namespace(type) | trim }}{% endif %}
{% if type._tx_fqn == "entity.Scalar" %}{{ render_scalar(type) | trim }}{% endif %}
{% if type._tx_fqn == "entity.Enum" %}{{ render_enum(type) | trim }}{% endif %}
{% if type._tx_fqn == "entity.Interface" %}{{ render_interface(type) | trim }}{% endif %}
{% if type._tx_fqn == "entity.Object" %}{{ render_object(type) | trim }}{% endif %}

{% endmacro %}


{################################################################}
{% macro render_arguments(operation) %}
{% if operation.parameters or operation.request %}
(
  {%- for parameter in operation.parameters -%}
    {{ parameter.name }}: {{ parameter.type -}}
    {{ "!" if parameter.required == "true" -}}
    {{ ", " if not loop.last or operation.request -}}
  {% endfor %}
  {% if operation.request -%}
    input: {{ operation.name }}Input{{ "!" -}}
  {% endif %}
)
{% endif %}
{% endmacro %}

{################################################################}
{% macro render_response(operation) %}
{% set field = operation.response  %}
  {% if field.array %}{{ "[" }}{% endif -%}
  {{ field.value.name -}}
  {% if field.array %}{{ "]" }}{% endif -%}
{% endmacro %}

{################################################################}
{% macro render_input(entity) %}
{% for field in util.get_fields_as_list(entity) if not field.value._tx_fqn in ["entity.Object", "entity.Interface"] and not field.readOnly  %}
  {{field.name}}:{{ " " -}}
  {% if field.array %}{{ "[" }}{% endif -%}
  {{ field.value.name -}}
  {% if field.nonNullableArray %}{{ "!" }}{% endif -%}
  {% if field.array %}{{ "]" }}{% endif -%}
  {% if field.nonNullable %}{{ "!" }}{% endif %}

{% endfor %}
{% endmacro %}

{################################################################}
{% macro render_fields(entity, filter_ro=False, filter_wo=False, filter_objects=False) %}
{% for field in util.get_fields_as_list(entity) if field.readOnly == (field.readOnly if not filter_ro else False) and field.writeOnly == (field.writeOnly if not filter_wo else False) %}
  {{field.name}}:{{ " " -}}
  {% if field.array %}{{ "[" }}{% endif -%}
  {{ field.value.name -}}
  {% if field.nonNullableArray %}{{ "!" }}{% endif -%}
  {% if field.array %}{{ "]" }}{% endif -%}
  {% if field.nonNullable %}{{ "!" }}{% endif %}

{% endfor %}
{% endmacro %}

{################################################################}
{% macro render_field(field, filter_ro=False, filter_wo=False) %}
{% if field.readOnly == (field.readOnly if not filter_ro else False) and field.writeOnly == (field.writeOnly if not filter_wo else False) %}
  {{field.name}}:{{ " " -}}
  {% if field.array %}{{ "[" }}{% endif -%}
  {{ field.value.name -}}
  {% if field.nonNullableArray %}{{ "!" }}{% endif -%}
  {% if field.array %}{{ "]" }}{% endif -%}
  {% if field.nonNullable %}{{ "!" }}{% endif %}

{% endif %}
{% endmacro %}

