{% import 'openapi.macro.j2' as macro with context %}
openapi: 3.0.3
info:
{% if model.title %}
  title: {{ model.title }}
{% else %}
  title: Untitled API
{% endif %}
{% if model.description %}
  description: |
    {{ model.description|indent|trim("\"") }}
{% endif %}
{% if model.version %}
  version: '{{ model.version }}'
{% else %}
  version: '0.1.0'
{% endif %}
{% if model.servers %}
servers:
  {% for server in model.servers %}
  - url: '{{ server }}'
  {% endfor %}
{% endif %}
security:
  - ApiKeyAuth: []
{% if util.get_namespaces() %}
tags:
{% for namespace in util.get_namespaces() %}
  - name: {{ namespace }}
{% endfor %}
{% endif %}

paths: {%+ if not util.get_operations() %}{}{% endif %} 
{% for operation in util.get_operations() %}
  {% if util.is_path_unique(operation.path) %}
  '{{ operation.path }}':
  {% endif %}
    {{ operation.method }}:
  {% if operation.tag %}
      tags:
        - {{ operation.tag }}
  {% endif %}
      summary: {{ operation.summary }}
    {% if operation.description %}
      description: |
        {{ operation.description | indent | trim("\"") | trim }}
    {% endif %}
      operationId: {{ operation.name }}
  {% if operation.parameters %}
      parameters:
        {{ macro.get_parameters(operation) | indent(6) | trim }}
  {% endif %}
  {% if operation.request %}
      requestBody:
        {{ macro.get_requestBody(operation) | indent(6) | trim }}
  {% endif %}
      responses:
        '200':
          description: OK
  {% if operation.response and operation.response.value.name != 'Void' %}
          {{ macro.get_response(operation) | indent(8) | trim }}
  {% endif %}
        default:
          $ref: '#/components/responses/DefaultError'
{% endfor %}

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: X-API-Key
      in: header

  responses:
    DefaultError:
      description: Unexpected error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'

  schemas:
{% for enum in mfunc.get_children_of_type("Enum", model) %}
    {{ enum.name|capitalize }}:
    {% if enum.description %}
      description: |
        {{ enum.description | indent | trim("\"") | trim }}
    {% endif %}
      type: string
      enum:
        {% for value in enum.values %}
        - {{value}}
        {% endfor %}

{% endfor %}
{% for base in mfunc.get_children_of_type("Base", model) %}
    {{ base.name|capitalize }}:
    {% if base.description %}
      description: |
        {{ base.description | indent | trim("\"") | trim }}
    {% endif %}
    {% if util.get_required(base) %}
      required:
      {% for field in util.get_required(base) %}
        - {{field.name}}
      {% endfor %}
    {% endif %}
      type: object
      properties:
        {{ macro.get_schema(base) | indent(6) | trim }}

{% endfor %}
{% for object in mfunc.get_children_of_type("Object", model) %}
    {{ object.name|capitalize }}:
    {% if object.description %}
      description: |
        {{ object.description | indent | trim("\"") | trim }}
    {% endif %}
    {% if util.get_required(object) %}
      required:
      {% for field in util.get_required(object) %}
        - {{field.name}}
      {% endfor %}
    {% endif %}
      type: object
      properties:
        {{ macro.get_schema(object) | indent(6) | trim }}

{% endfor %}
    ApiError:
      required:
        - code
        - message
      type: object
      properties:
        code:
          description: A identifier that categorizes the error
          type: integer
          format: int32
        message:
          description: A brief, human-readable message about the error
          type: string
        status:
          description: The HTTP response code
          type: integer
          format: int32
        path:
          description: A URI that identifies the specific occurrence of the error
          type: string
        timestamp:
          type: string
          format: date-time
        details:
          description: Detailed explanations of the error
          type: array
          items:
            type: string