{################################################################}
{% macro render_arguments(operation) %}
{% if operation.arguments or operation.is_pageable %}
(
  {%- for parameter in operation.arguments -%}
    {% if parameter.value._tx_fqn in ["entity.Object", "entity.Base"] -%}
      {{ parameter.name }}:{{ " " -}}
      {{ "[" if parameter.is_array -}}
      {{ parameter.value.name }}Input{{ "" -}}
      {{ "!" -}}
      {{ "]" if parameter.is_array -}}
    {% else -%}
      {{ parameter.name }}:{{ " " -}}
      {{ "[" if parameter.is_array -}}
      {{ parameter.value.name -}}
      {{ "!" if parameter.is_required -}}
      {{ "]" if parameter.is_array -}}
    {% endif -%}
    {{ ", " if not loop.last -}}
  {% endfor %}
  {% if operation.is_pageable -%}
    {% if operation.arguments %}{{", "}}{% endif %}pageable: Pageable{{ "" -}}
  {% endif %}
)
{% endif %}
{% endmacro %}

{################################################################}
{% macro render_response(operation) %}
{% set field = operation  %}
  {% if field.is_array %}{{ "[" }}{% endif -%}
  {{ field.value.name -}}{% if field.is_pageable %}List{% endif -%}
  {% if field.is_array %}{{ "]" }}{% endif -%}
{% endmacro %}

{################################################################}
{% macro render_input(entity) %}
{% for field in util.get_fields_as_list(entity) if not field.is_read_only and not field.is_composition and not field.is_aggregation %}
 {% if field.value._tx_fqn in ["entity.Object", "entity.Base"] %}
  {{ field.name }}:{{ " " -}}
  {% if field.is_array %}{{ "[" }}{% endif -%}
  {{ field.value.name }}Input{{ "" -}}
  {% if field.is_array %}{{ "]" }}{% endif -%}
  {% if field.is_required %}{{ "!" }}{% endif %}
 {% else %}
  {{ field.name }}:{{ " " -}}
  {% if field.is_array %}{{ "[" }}{% endif -%}
  {{ field.value.name -}}
  {% if field.is_array %}{{ "]" }}{% endif -%}
  {% if field.is_required %}{{ "!" }}{% endif %}
 {% endif %}

{% endfor %}
{% endmacro %}

{################################################################}
{% macro render_fields(entity, filter_ro=False, filter_wo=False, filter_objects=False) %}
{% for field in util.get_fields_as_list(entity) if field.is_read_only == (field.is_read_only if not filter_ro else False) and field.is_write_only == (field.is_write_only if not filter_wo else False) %}
  {% if field.description %}
  {{ field.description }}
  {% endif %}
  {{field.name}}:{{ " " -}}
  {% if field.is_array %}{{ "[" }}{% endif -%}
  {{ field.value.name -}}
  {% if field.is_array %}{{ "]" }}{% endif -%}
  {% if field.is_required %}{{ "!" }}{% endif %}

{% endfor %}
{% endmacro %}

{################################################################}
{% macro render_field(field, filter_ro=False, filter_wo=False) %}
{% if field.is_read_only == (field.is_read_only if not filter_ro else False) and field.is_write_only == (field.is_write_only if not filter_wo else False) %}
  {{field.name}}:{{ " " -}}
  {% if field.is_array %}{{ "[" }}{% endif -%}
  {{ field.value.name -}}
  {% if field.is_array %}{{ "]" }}{% endif -%}
  {% if field.is_required %}{{ "!" }}{% endif %}

{% endif %}
{% endmacro %}