{%- macro get_response(operation) -%}

    {%- if operation.response -%}
        {%- if operation.response.is_array -%}
            List<{{operation.response.type}}>
        {%- else -%}
            {{operation.response.type}}
        {%- endif %}
    {%- else -%}
        Void
    {%- endif -%}

{%- endmacro %}

{%- macro paramsApi(operation) -%}

    {%- for parameter in operation.path_parameters -%}
        @PathVariable("{{parameter.json_key}}") {{ param_helper(parameter) }}
        {%- if not loop.last or operation.uses_filter or operation.is_pageable or operation.body_parameters -%}{{", "}}{% endif -%}
    {%- endfor %}

    {%- if operation.uses_filter -%}
            {{operation.filter_name}} filter
        {%- if operation.is_pageable or operation.body_parameters -%}{{", "}}{% endif -%}
    {%- endif -%}

    {%- if operation.is_pageable -%}
            CursorPageable pageable
        {%- if operation.body_parameters -%}{{", "}}{% endif -%}
    {%- endif -%}

    {% set requiresNode = operation.body_parameters | rejectattr("is_base") | rejectattr("is_object") | list %}
    {%- if operation.body_parameters and (operation.body_parameters|length > 1 or requiresNode) -%}
            @RequestBody ObjectNode body
    {%- elif operation.body_parameters and operation.method == "patch" -%}
            @RequestBody JsonMergePatch patch
    {%- elif operation.body_parameters -%}
            @RequestBody {{ param_helper(operation.body_parameters[0]) }}
    {%- endif -%}

{%- endmacro %}

{%- macro paramsController(operation) -%}

    {%- for parameter in operation.path_parameters -%}
        {{ param_helper(parameter) }}
        {%- if not loop.last or operation.uses_filter or operation.is_pageable or operation.body_parameters -%}{{", "}}{% endif -%}
    {%- endfor %}

    {%- if operation.uses_filter -%}
            {{operation.filter_name}} filter
        {%- if operation.is_pageable or operation.body_parameters -%}{{", "}}{% endif -%}
    {%- endif -%}

    {%- if operation.is_pageable -%}
            CursorPageable pageable
        {%- if operation.body_parameters -%}{{", "}}{% endif -%}
    {%- endif -%}

    {% set requiresNode = operation.body_parameters | rejectattr("is_base") | rejectattr("is_object") | list %}
    {%- if operation.body_parameters and (operation.body_parameters|length > 1 or requiresNode) -%}
            ObjectNode body
    {%- elif operation.body_parameters and operation.method == "patch" -%}
            JsonMergePatch patch
    {%- elif operation.body_parameters -%}
            {{ param_helper(operation.body_parameters[0]) }}
    {%- endif -%}

{%- endmacro %}

{%- macro paramsService(operation) -%}
    {%- set params = [] -%}

    {%- for parameter in operation.path_parameters -%}
        {%- set _ = params.append(param_helper(parameter)) -%}
    {%- endfor -%}

    {%- if operation.uses_filter -%}
        {%- set _ = params.append(operation.filter_name + " filter") -%}
    {%- endif -%}

    {%- if operation.is_pageable -%}
        {%- set _ = params.append("CursorPageable pageable") -%}
    {%- endif -%}

    {%- if operation.body_parameters and operation.body_parameters|length > 1 -%}
        {%- set _ = params.append("ObjectNode body") -%}
    {%- elif operation.body_parameters -%}
        {%- set _ = params.append(param_helper(operation.body_parameters[0])) -%}
    {%- endif -%}

    {{ params | join(", ") }}
{%- endmacro %}

{%- macro paramsCallService(operation) -%}
    {%- set params = [] -%}

    {%- for parameter in operation.path_parameters -%}
        {%- set _ = params.append(parameter.name) -%}
    {%- endfor -%}

    {%- if operation.uses_filter -%}
        {%- set _ = params.append("filter") -%}
    {%- endif -%}

    {%- if operation.is_pageable -%}
        {%- set _ = params.append("pageable") -%}
    {%- endif -%}

    {%- if operation.body_parameters and operation.body_parameters|length > 1 -%}
        {%- set _ = params.append("body") -%}
    {%- elif operation.body_parameters and operation.method == "patch" -%}
        {%- set _ = params.append("request") -%}
    {%- elif operation.body_parameters -%}
        {%- set _ = params.append(operation.body_parameters[0].name) -%}
    {%- endif -%}

    {{ params | join(", ") }}
{%- endmacro %}

{%- macro paramsCallServiceGetter(operation) -%}
    {%- set params = [] -%}

    {%- for parameter in operation.path_parameters -%}
        {%- set _ = params.append(parameter.name) -%}
    {%- endfor -%}

    {%- if operation.is_pageable -%}
        {%- set _ = params.append("pageable") -%}
    {%- endif -%}

    {{ params | join(", ") }}
{%- endmacro %}

{%- macro paramsCallServiceMocked(operation) -%}
    {%- set params = [] -%}

    {%- for parameter in operation.path_parameters -%}
        {%- set _ = params.append("any()") -%}
    {%- endfor -%}

    {%- if operation.uses_filter -%}
        {%- set _ = params.append("any()") -%}
    {%- endif -%}

    {%- if operation.is_pageable -%}
        {%- set _ = params.append("any()") -%}
    {%- endif -%}

    {%- if operation.body_parameters and operation.body_parameters|length > 1 -%}
        {%- set _ = params.append("any()") -%}
    {%- elif operation.body_parameters -%}
        {%- set _ = params.append("any()") -%}
    {%- endif -%}

    {{ params | join(", ") }}
{%- endmacro %}

{%- macro param_helper(parameter) -%}

    {%- if parameter.is_array -%}
        List<{{parameter.type}}> {{parameter.name}}
    {%- else -%}
        {{parameter.type}} {{parameter.name}}
    {%- endif %}

{%- endmacro %}