### Application
app.name: {{title}}

### Core
server.port: 8080
server.base-path: {{basePath}}
spring.mvc.pathmatch.matching-strategy: ant_path_matcher

### Monitoring service
management.endpoints.web.base-path: /api/actuator
management.endpoint.health.show-details: always
management.endpoints.web.exposure.include: health,info,metrics,prometheus,logfile
management.endpoints.web.exposure.exclude:
management.endpoints.web.cors.allowed-origins: "*"
management.endpoints.web.cors.allowed-methods: GET

#### INFO ENDPOINT CONFIGURATION
info.app.name: "@project.name@"
info.app.description: "@project.description@"
info.app.version: "@project.version@"
info.app.encoding: "@project.build.sourceEncoding@"
info.app.java.version: "@java.version@"

### Logging
logging.file.name: logs/spring.log

### H2-Console
spring.h2.console.enabled: false
spring.h2.console.settings.web-allow-others: true
spring.h2.console.path: /api/h2

### Flyway
spring.flyway.enabled: false

# Springdocs
springdoc.api-docs.path: /api/docs/generated
springdoc.packagesToScan: X
springdoc.swagger-ui.path: /api/swagger-ui
springdoc.swagger-ui.url: /api/docs/openapi.json

---
################################################################################
spring.config.activate.on-profile: dev

### Datasource
spring.jpa.properties.hibernate.hbm2dll.create_namespaces: true
spring.jpa.hibernate.ddl-auto: update

spring.datasource.url: jdbc:hsqldb:mem:testdb;sql.syntax_pgs=true;
spring.datasource.username: sa
spring.datasource.password:

### H2-Console
spring.h2.console.enabled: true

### Logging
logging.level.org.hibernate.SQL: DEBUG
spring.jpa.properties.hibernate.format_sql: true
spring.jpa.properties.hibernate.show_sql: false

---
################################################################################
spring.config.activate.on-profile: local

### Datasource
spring.jpa.properties.hibernate.hbm2dll.create_namespaces: true
spring.jpa.hibernate.ddl-auto: update

spring.datasource.url: jdbc:hsqldb:file:./db/testdb;sql.syntax_pgs=true;
spring.datasource.username: sa
spring.datasource.password:

### H2-Console
spring.h2.console.enabled: true

---
################################################################################
spring.config.activate.on-profile: prod

### Datasource
spring.jpa.properties.hibernate.default_schema: spring
spring.jpa.hibernate.ddl-auto: validate

spring.datasource.url: jdbc:postgresql://localhost:5432/postgres
spring.datasource.username: postgres
spring.datasource.password: postgres

### Flyway
spring.flyway.enabled: true
spring.flyway.schemas: spring
spring.flyway.locations: classpath:db/migration

---
################################################################################
spring.config.activate.on-profile: prod-init

spring.jpa.hibernate.ddl-auto: create
spring.jpa.properties.hibernate.hbm2ddl.delimiter: ;

### src/main/resources/db/migration/V001__Initial.sql
spring.jpa.properties.javax.persistence.schema-generation.scripts.action: create
spring.jpa.properties.javax.persistence.schema-generation.scripts.create-target: V001__Initial.sql
spring.jpa.properties.javax.persistence.schema-generation.scripts.create-source: metadata

---
################################################################################

### Groups
spring.profiles.group.gen: prod,init-prod

### Default Profile
spring.profiles.active: dev
{{""}}