{% macro get_parameters(operation) %}
{% for parameter in operation.parameters %}
  - name: {{ parameter.name }}
  {% if parameter.description %}
    description: |
      {{ parameter.description | indent | trim("\"") | trim }}
  {% endif %}
    in: {{ parameter.in }}
    required: {{ parameter.required }}
    schema:
  {% set parameter = parameter.type %}
  {% if parameter.value._tx_fqn in ["entity.Object", "entity.Base"] and parameter.array %}
      type: array
      items:
        $ref: '#/components/schemas/{{ parameter.value.name|capitalize }}'
  {% elif parameter.value._tx_fqn in ["entity.Object", "entity.Base"] %}
      $ref: '#/components/schemas/{{ parameter.value.name|capitalize }}'
  {% else %}
    {% if parameter.array %}
      type: array
      items:
        {{ get_parameter_type(parameter) | indent(2) | trim }}
      {% if get_parameter_format(parameter) %}
      {{ get_parameter_format(parameter) | indent(2) | trim  }}
      {% endif %}
    {% else %}
      {{ get_parameter_type(parameter) | indent(4) | trim }}
      {% if get_parameter_format(parameter) %}
      {{ get_parameter_format(parameter) | indent(4) | trim }}
      {% endif %}
    {% endif %}
  {% endif %}
{% endfor %}
{% endmacro %}


{% macro get_requestBody(operation) %}
  required: true
  content:
    application/json:
      schema:
  {% set ns = namespace(var=true) %}
  {% for parameter in operation.request %}
    {# handle auto CRUD Objects #}
    {% if parameter._tx_fqn == "entity.Object" %}
        $ref: '#/components/schemas/{{ parameter.name|capitalize }}'
    {# handle query and mutation with array object input #}
    {% elif parameter.value._tx_fqn in ["entity.Object", "entity.Base"] and parameter.array %}
        type: array
        items:
          $ref: '#/components/schemas/{{ parameter.value.name|capitalize }}'
    {# handle query and mutation with object input #}
    {% elif parameter.value._tx_fqn in ["entity.Object", "entity.Base"] %}
        $ref: '#/components/schemas/{{ parameter.value.name|capitalize }}'
    {% elif parameter.value._tx_fqn == "entity.Scalar" and operation.request|length == 1 and parameter.value.name == "Object" %}
        type: object
    {% else %}
    {# handle query and mutation with custom input #}
      {% if ns.var %}
        type: object
        properties:
        {% set ns.var = false %}
      {% endif %}
          {{ parameter.name }}:
        {% if parameter.array %}
            type: array
            items:
              {{ get_parameter_type(parameter) | indent(2) | trim }}
            {% if get_parameter_format(parameter) %}
            {{ get_parameter_format(parameter) | indent(2) | trim  }}
            {% endif %}
        {% else %}
            {{ get_parameter_type(parameter) | indent(10) | trim }}
            {% if get_parameter_format(parameter) %}
            {{ get_parameter_format(parameter) | indent(10) | trim }}
            {% endif %}
        {% endif %}
    {% endif %}
  {% endfor %}
{% endmacro %}


{% macro get_response(operation) %}
{% set field = operation.response  %}
  content:
    application/json:
      schema:
    {% if field.array %}
        type: array
        items:
          {{ get_parameter_type(field, true) | indent(2) | trim }}
        {% if get_parameter_format(field) %}
        {{ get_parameter_format(field) | indent(2) | trim  }}
        {% endif %}
    {% else %}
        {{ get_parameter_type(field, true) | indent(6) | trim }}
        {% if get_parameter_format(field) %}
        {{ get_parameter_format(field) | indent(2) | trim }}
        {% endif %}
    {% endif %}
{% endmacro %}


{% macro get_schema(type) %}
{% for field in util.get_fields_as_list(type) if util.get_filtered_fields(field) %}
  {{ field.name }}:
  {% if field.description %}
    description: |
      {{ field.description | indent | trim("\"") | trim }}
  {% endif %}
  {% if field.array %}
    type: array
    items:
      {{ get_parameter_type(field) | indent(2) | trim }}
    {% if get_parameter_format(field) %}
    {{ get_parameter_format(field) | indent(2) | trim  }}
    {% endif %}
  {% else %}
    {{ get_parameter_type(field) | indent(2) | trim }}
    {% if get_parameter_format(field) %}
    {{ get_parameter_format(field) | indent(2) | trim }}
    {% endif %}
  {% endif %}
{% endfor %}
{% endmacro %}


{% macro get_parameter_type(field, response=false) %}
{% if field.value._tx_fqn == "entity.Object" or field.value._tx_fqn == "entity.Base" %}
  {% if field.nested %}
  $ref: '#/components/schemas/{{ field.value.name|capitalize }}'
  {% elif  response %}
  $ref: '#/components/schemas/{{ field.value.name|capitalize }}{% if field.paging %}List{% endif %}'
  {% else %}
{# TODO: Is this for IDs ?#}
  type: string
  {% endif %}
{% elif field.value._tx_fqn == "entity.Enum" %}
  $ref: '#/components/schemas/{{ field.value.name|capitalize }}'
{% else %}
  type: {{ field.value|oapi_type }}
{% endif %}
{% endmacro %}


{% macro get_parameter_format(field) %}
{% if field.value.name == "Int" %}
  format: int32
{% elif field.value.name == "Long" %}
  format: int64
{% elif field.value.name == "Float" %}
  format: float
{% elif field.value.name == "Double" %}
  format: double
{% elif field.value.name == "ID"%}
  {% if parameters.id_type_format %}
  format: {{parameters.id_type_format}}
  {% endif %}
  x-qsdl-type: ID
{% elif field.value.name == "Date" %}
  format: date-time
{% endif %}
{% if field.readOnly %}
  readOnly: true
{% elif field.writeOnly %}
  writeOnly: true
{% endif %}
{% endmacro %}
