{% import 'openapi.macro.j2' as macro with context %}
openapi: 3.0.3
info:
{% if schema.title %}
  title: {{ schema.title }}
{% else %}
  title: Untitled API
{% endif %}
{% if schema.description %}
  description: |
    {{ schema.description|indent|trim("\"") }}
{% endif %}
{% if schema.version %}
  version: '{{ schema.version }}'
{% else %}
  version: '0.1.0'
{% endif %}
{% if schema.servers %}
servers:
  {% for server in schema.servers %}
  - url: '{{ server }}'
  {% endfor %}
{% endif %}
security:
  - ApiKeyAuth: []
{% if util.get_namespaces() %}
tags:
{% for namespace in util.get_namespaces() %}
  - name: {{ namespace }}
{% endfor %}
{% endif %}

paths: {%+ if not apis %}{}{% endif %} 
{% for api in apis %}
{% for operation in api.operations %}
  {% if util.is_path_unique(operation.path) %}
  '{{ operation.path }}':
  {% endif %}
    {{ operation.method }}:
  {% if operation.tag %}
      tags:
        - {{ operation.tag }}
  {% endif %}
      summary: {{ operation.summary }}
    {% if operation.description %}
      description: |
        {{ operation.description | indent | trim("\"") | trim }}
    {% endif %}
      operationId: {{ operation.name }}
  {% if operation.parameters %}
      parameters:
        {{ macro.get_parameters(operation) | indent(6) | trim }}
  {% endif %}
  {% if operation.body_parameters %}
      requestBody:
        {{ macro.get_requestBody(operation) | indent(6) | trim }}
  {% endif %}
      responses:
        '200':
          description: OK
      {% if operation.response %}
          {{ macro.get_response(operation) | indent(8) | trim }}
      {% endif %}
        default:
          $ref: '#/components/responses/DefaultError'
{% endfor %}
{% endfor %}

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: X-API-Key
      in: header

  responses:
    DefaultError:
      description: Unexpected error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'

  schemas:
{% for model in models %}
  {% if model.is_enum %}
    {{ model.name }}:
    {% if model.description %}
      description: |
        {{ model.description | indent | trim("\"") | trim }}
    {% endif %}
      type: string
      enum:
        {% for value in model.constants %}
        - {{value}}
        {% endfor %}

  {% else %}
    {{ model.name }}:
    {% if model.description %}
      description: |
        {{ model.description | indent | trim("\"") | trim }}
    {% endif %}
    {% if model._ref.supertype %}
      allOf:
        - $ref: '#/components/schemas/{{model._ref.supertype.name}}'
        -
        {% if model.get_required() %}
          required:
          {% for field in model.get_required() %}
            - {{field.name}}
          {% endfor %}
        {% endif %}
          type: object
          properties:
            {{ macro.get_schema(model) | indent(10) | trim }}
    {% else %}
     {% if model.get_required() %}
      required:
      {% for field in model.get_required() %}
        - {{field.name}}
      {% endfor %}
     {% endif %}
      type: object
      properties:
        {{ macro.get_schema(model) | indent(6) | trim }}
     {% endif %}

  {% endif %}
{% endfor %}
    ApiError:
      required:
        - code
        - message
      type: object
      properties:
        code:
          description: A identifier that categorizes the error
          type: integer
          format: int32
        message:
          description: A brief, human-readable message about the error
          type: string
        status:
          description: The HTTP response code
          type: integer
          format: int32
        path:
          description: A URI that identifies the specific occurrence of the error
          type: string
        timestamp:
          type: string
          format: date-time
        details:
          description: Detailed explanations of the error
          type: array
          items:
            type: string