{% macro get_parameters(operation) %}
{% set parameters = operation.path_parameters if operation.is_pageable else operation.parameters  %}
{% for parameter in parameters %}
  - name: {{ parameter.name }}
  {% if parameter.description %}
    description: |
    {% for line in parameter.description %}
      {{ line }}
    {% endfor %}
  {% endif %}
    in: {{ "query" if parameter.is_query else "header" if parameter.is_header else "path" }}
    required: {{ parameter.is_required | lower }}
    schema:
      {{ get_ref_type_format(parameter) | indent(4) | trim }}
{% endfor %}
{% if operation.is_pageable %}
  - name: query
    in: query
    required: false
    schema:
      type: object
  {% if operation.query_parameters %}
      examples:
      {% for parameter in operation.query_parameters %}
        {% if loop.first %}
        - {{ parameter.name }}: {{ parameter.type }}
        {% else %}
          {{ parameter.name }}: {{ parameter.type }}
        {% endif %}
      {% endfor %}
  {% endif %}
    style: form
    explode: true
  - $ref: '#/components/parameters/cursor'
  - $ref: '#/components/parameters/limit'
  - $ref: '#/components/parameters/count'
{% endif %}
{% endmacro %}


{% macro get_requestBody(operation) %}
  required: true
  content:
    {{ operation.consumes }}:
      schema:
  {% set ns = namespace(var=true) %}
  {% for parameter in operation.body_parameters %}
    {% if parameter.is_ref_body %}
        {% if parameter.is_array %}
        type: array
        items:
        {% endif %}
        {{ "     " if parameter.is_array }}$ref: '{{parameter.ref}}'
    {% elif operation.body_parameters|length == 1 and parameter.type == "object" %}
        type: object
    {% else %}
    {# handle query and mutation with custom input #}
      {% if ns.var %}
        type: object
        properties:
        {% set ns.var = false %}
      {% endif %}
          {{ parameter.name }}:
            {{ get_ref_type_format(parameter) | indent(10) | trim }}
    {% endif %}
  {% endfor %}
{% endmacro %}


{% macro get_response(operation) %}
{% set parameter = operation.response %}
  content:
    {{ operation.produces }}:
      schema:
        {{ get_ref_type_format(parameter) | indent(6) | trim }}
{% endmacro %}


{% macro get_response_headers(operation) %}
  headers:
  {% for parameter in operation.response_headers %}
    {{ parameter.name }}:
      schema:
        {{ get_ref_type_format(parameter) | indent(6) | trim }}
  {% endfor %}
{% endmacro %}


{% macro get_ref_type_format(parameter) %}
{% if parameter.is_array %}
  type: array
  items:
{% endif %}
{% if parameter.ref %}
  {{ "  " if parameter.is_array }}$ref: '{{parameter.ref}}'
{% else %}
  {{ "  " if parameter.is_array }}type: {{parameter.type}}
  {% if parameter.format %}
  {{ "  " if parameter.is_array }}format: {{parameter.format}}
  {% endif %}
{% endif %}
{% endmacro %}


{% macro get_schema(type) %}
{% for field in type.attributes %}
  {{ field.json_key }}:
  {% if field.description %}
    description: |
    {% for line in field.description %}
      {{ line }}
    {% endfor %}
  {% endif %}
  {% if field.is_array %}
    type: array
    items:
      {{ get_parameter_type(field) | indent(4) | trim }}
        {% if get_parameter_format(field) %}
      {{ get_parameter_format(field) | indent(4) | trim  }}
        {% endif %}
        {% if get_parameter_constraint(field) %}
      {{ get_parameter_constraint(field) | indent(4) | trim }}
        {% endif %}
  {% else %}
    {{ get_parameter_type(field) | indent(2) | trim }}
        {% if get_parameter_format(field) %}
    {{ get_parameter_format(field) | indent(2) | trim }}
        {% endif %}
        {% if get_parameter_constraint(field) %}
    {{ get_parameter_constraint(field) | indent(2) | trim }}
        {% endif %}
  {% endif %}
{% endfor %}
{% endmacro %}


{% macro get_parameter_type(field, response=false) %}
{% if field.is_object or field.is_base or field.is_enum %}
  $ref: '#/components/schemas/{{ field.type }}'
{% else %}
  type: {{ field.type }}
{% endif %}
{% endmacro %}


{% macro get_parameter_format(field) %}
{% if field.format %}
  format: {{field.format}}
{% endif %}
{% if field.pattern %}
  pattern: '{{field.pattern}}'
{% endif %}
{% if field.is_read_only %}
  readOnly: true
{% elif field.is_write_only %}
  writeOnly: true
{% endif %}
{% endmacro %}

{% macro get_parameter_constraint(field) %}
{% if field.min_size %}
  {{field.min_size}}
{% endif %}
{% if field.max_size %}
  {{field.max_size}}
{% endif %}
{% if field.default %}
  {{field.default}}
{% endif %}
{% endmacro %}
