scalar Long
scalar Double
scalar Date
scalar Void
scalar Object

type Query {
    _empty: String
}

type Mutation {
    _empty: String
}

interface Response {
  code: String!
  success: Boolean!
  message: String!
  details: String
}

input Pageable {
  cursor: String
  limit: Int
  count: Boolean
}

{# Start drawing loop#}
{% for type in schema.types %}
{% if type._tx_fqn == "entity.Scalar" %}
{% include "types/scalar.j2" with context %}

{% elif type._tx_fqn == "entity.Enum" %}
{% include "types/enum.j2" with context %}

{% elif type._tx_fqn == "entity.Base" %}
{% include "types/base.j2" with context %}

{% elif type._tx_fqn == "entity.Object" %}
{% include "types/object.j2" with context %}

{% elif type._tx_fqn == "entity.Api" %}
{% include "types/operation.j2" with context %}

{% endif %}
{% endfor %}

schema{
    query: Query,
    mutation: Mutation
}
