version: '3'

services:
   service:
      image: {{artifact_id}}:latest
      command:
         - "--spring.profiles.active=prod"
         - "--spring.datasource.url=jdbc:postgresql://db:5432/postgres"
      ports:
         - 8080:8080
      depends_on:
         - db
   db:
      image: postgres:14
      environment:
         POSTGRES_USER: postgres
         POSTGRES_PASSWORD: postgres
         POSTGRES_DB: postgres
      ports:
         - 5432:5432
{{""}}