{# 
  Returns the class annotation
#}
{% macro class_annotation() %}
  {{- "@Entity" if (model.is_object and model.is_crud) }}
  {{- "@Entity" if model.is_base }}
{% endmacro %}

{# 
  Returns a class identifier.
#}
{% macro attribute_annotation(attr) -%}
  {#
    ID
  #}
  {% if attr.is_id %}
  @Id
    {% if attr.is_read_only %}
  @GeneratedValue(generator="optimized-sequence")
    {% endif %}
  {% endif %}
  {#
    Serialization for objects
  #}
  {% if attr.type == "ObjectNode" %}
  @Lob
  @Convert(converter = {{base_package}}.util.NodeConverter.class)
  {% endif %}
  {#
    Relations
  #}
  {% if attr.is_relation and not attr.is_relation_owner %}
      {# 
        the parent side of the relation.
      #}
      {% if attr.is_aggregation and attr.is_array %}
  @ManyToMany(mappedBy = "{{model.name|lower}}s", fetch = FetchType.LAZY)
      {% elif attr.is_aggregation and not attr.is_array %}
  @OneToMany(mappedBy = "{{model.name|lower}}s", fetch = FetchType.LAZY)
      {% elif attr.is_composition and attr.is_array %}
  @OneToMany(mappedBy = "{{model.name|lower}}", fetch = FetchType.LAZY, cascade = CascadeType.ALL)
      {% elif attr.is_composition and not attr.is_array %}
  @OneToOne(mappedBy = "{{model.name|lower}}", fetch = FetchType.LAZY, cascade = CascadeType.ALL)
      {% endif %}
  {% elif attr.is_relation and attr.is_relation_owner %}
      {#
        The child/owning side of the relation.
      #}
      {% if attr.is_aggregation and attr.foreign_key_is_array %}
  @ManyToMany(fetch = FetchType.LAZY)
  @JoinTable(name = "{{attr.type|lower}}_to_{{model.name|lower}}", joinColumns = @JoinColumn(name = "{{model.name|lower}}_id"), inverseJoinColumns = @JoinColumn(name = "{{attr.type|lower}}_id"))
      {% elif attr.is_aggregation and not attr.foreign_key_is_array  %}
  @ManyToOne(fetch = FetchType.LAZY)
  @JoinColumn(name = "{{attr.type|lower}}_id")
      {% elif attr.is_composition and attr.foreign_key_is_array %}
  @ManyToOne(fetch = FetchType.LAZY)
  @JoinColumn(name = "{{attr.type|lower}}_id")
      {% elif attr.is_composition and not attr.foreign_key_is_array %}
  @OneToOne(fetch = FetchType.LAZY)
  @JoinColumn(name = "{{attr.type|lower}}_id")
      {% endif %}
  {#
    Nested Objects
  #}
  {% elif attr.is_array and (attr.is_object or attr.is_base) %}
  @OneToMany(cascade=CascadeType.ALL, orphanRemoval = true)
  @JoinColumn(name = "{{model.name|lower}}_id")
  {% elif not attr.is_array and (attr.is_object or attr.is_base) %}
  @OneToOne(cascade=CascadeType.ALL, orphanRemoval = true)
  @JoinColumn(name = "{{model.name|lower}}_id")
  {% elif attr.is_array %}
  @ElementCollection
  {% endif %}
{% endmacro %}

{# 
  Returns Queries
#}
{%- macro get_query() -%}
{%- for operation in api.operations %}

  {%- if operation.method == "get" and operation.is_pageable and operation.query_parameters %}

    {% for parameter in operation.query_parameters %}
    AND ({{ ":#{#pageable.query['" + parameter.name + "']}" }} IS NULL OR {{ api.name | upper + "." + parameter.name | upper}} = {{ ":#{#pageable.query['" + parameter.name + "']}" }}){{ "\n" if not loop.last }}
    {%- endfor %}

  {%- endif %}
{%- endfor %}
{%- endmacro %}