{% macro logic(operation) -%}
  {% if operation.parent %}
  {% set p_model = operation.parent.model %}
  {% set p_hibernate = operation.parent.hibernate %}
  {% set p_m_hibernate = operation.parent.model.hibernate %}
  {% endif %}
  {% if operation.method == "get" and operation.is_pageable %}
    {# 
     ########################################################################################
      Get all entities.
    #}
    {% if operation.parent %}
    // confirm existence of parent
    validate{{ p_model.name }}({{ p_m_hibernate.parameter_joined_id }});

    BooleanBuilder predicate = PredicateBuilder.build(queryParameters, {{model.name}}.class);
    predicate.and(Q{{model.name}}.{{model.name|lower}}.{{operation.parent.predicate}}.{{id_name|lower}}.eq({{ p_m_hibernate.parameter_joined_id }}));
    {% else %}
    BooleanBuilder predicate = PredicateBuilder.build(queryParameters, {{model.name}}.class);
    {% endif %}

    CursorPage ret = {{model.name|lower}}Repository.findAll(predicate, pageable);

    return ret;
  {% elif operation.method == "post" and ( operation.path.endswith('/add') or operation.path.endswith('/remove') ) %}
    {# 
     ########################################################################################
      Create a entity.
    #}
    // get and confirm existence
    // we are not using getById here because somehow the reference does not work when using a public field
    {{ p_model.name }} {{ p_model.name|lower }} = {{ p_model.name|lower }}Repository.{{ p_m_hibernate.find_by_id }}({{ p_m_hibernate.parameter_joined_id }})
        .orElseThrow(() -> AppException.entityNotFound({{ p_model.name }}.class, {{ p_m_hibernate.parameter_joined_id }}));

    {% if operation.path.endswith('/add') %}
    {{ model.name }} {{ model.name|lower }} = {{ model.name|lower }}Repository.{{ model.hibernate.find_by_id }}(id)
        .orElseThrow(() -> AppException.entityNotFound({{ model.name }}.class, id));

    if ({{ model.name|lower }}.{{ p_model.name|lower }}s.contains({{ p_model.name|lower }})) {
      throw AppException.entityAlreadyAdded({{ model.name }}.class, id);
    }

    {{ model.name|lower }}.addTo{{ p_model.name }}s({{ p_model.name|lower }});
    {% elif operation.path.endswith('/remove') %}
    {{ model.name }} {{ model.name|lower }} = {{ model.name|lower }}Repository.{{ p_hibernate.find_by_parentid_and_id }}({{ p_m_hibernate.parameter_joined_id }}, id)
        .orElseThrow(() -> AppException.entityNotAttached({{ model.name }}.class, id));

    {{ model.name|lower }}.removeFrom{{ p_model.name }}s({{ p_model.name|lower }});
    {% endif %}

    {{ model.name|lower }}Repository.save({{ model.name|lower }});

    return null;
  {% elif operation.method == "post" %}
    {# 
     ########################################################################################
      Create a entity.
    #}
    {% if operation.parent %}
    // confirm existence of parent
    validate{{ p_model.name }}({{ p_m_hibernate.parameter_joined_id }});

    // add parent relation
    {{ p_model.name }} {{ p_model.name|lower }} = {{ p_model.name|lower }}Repository.{{ p_m_hibernate.get_by_id }}({{ p_m_hibernate.parameter_joined_id }});
    {% if encapsulation %}
    body.set{{ p_model.name }}({{ p_model.name|lower }});
    {% else %}
    body.{{ p_model.name|lower }} = {{ p_model.name|lower }};
    {% endif %}

    {% endif %}
    {{model.name}} ret = {{model.name|lower}}Repository.save(body);

    return ret;
  {% elif operation.method == "get" %}
    {# 
     ########################################################################################
      Get a entity.

    #}
    {% if operation.parent %}
    // confirm existence of parent
    validate{{ p_model.name }}({{ p_m_hibernate.parameter_joined_id }});

    {{model.name}} ret = {{model.name|lower}}Repository.{{ p_hibernate.find_by_parentid_and_id }}({{ p_m_hibernate.parameter_joined_id }}, id)
    {% else %}
    {{model.name}} ret = {{model.name|lower}}Repository.{{ model.hibernate.find_by_id }}(id)
    {% endif %}
        .orElseThrow(() -> AppException.entityNotFound({{model.name}}.class, id));

    return ret;
  {% elif operation.method == "put" %}
    {# 
     ########################################################################################
      Replace entities.
    #}
    {% if operation.parent %}
    // confirm existence of parent
    validate{{ p_model.name }}({{ p_m_hibernate.parameter_joined_id }});

    // add parent relation
    {{ p_model.name }} {{ p_model.name|lower }} = {{ p_model.name|lower }}Repository.{{ p_m_hibernate.get_by_id }}({{ p_m_hibernate.parameter_joined_id }});
      {% if encapsulation %}
    body.set{{ p_model.name }}({{ p_model.name|lower }});
      {% else %}
    body.{{ p_model.name|lower }} = {{ p_model.name|lower }};
      {% endif %}

    {{model.name}} dbEntity = {{model.name|lower}}Repository.{{ p_hibernate.find_by_parentid_and_id }}({{ p_m_hibernate.parameter_joined_id }}, id)
    {% else %}
    {{model.name}} dbEntity = {{model.name|lower}}Repository.{{ model.hibernate.find_by_id }}(id)
    {% endif %}
        .orElseThrow(() -> AppException.entityNotFound({{model.name}}.class, id));

    // update dbEntity with all writeable fields
    dbEntity.replace(body);

    {{model.name}} ret = {{model.name|lower}}Repository.save(dbEntity);

    return ret;
  {% elif operation.method == "patch" %}
    {# 
     ########################################################################################
      Patch entities.
    #}
    {% if operation.parent %}
    // confirm existence of parent
    validate{{ p_model.name }}({{ p_m_hibernate.parameter_joined_id }});

    // add parent relation
    {{ p_model.name }} {{ p_model.name|lower }} = {{ p_model.name|lower }}Repository.{{ p_m_hibernate.get_by_id }}({{ p_m_hibernate.parameter_joined_id }});
      {% if encapsulation %}
    body.set{{ p_model.name }}({{ p_model.name|lower }});
      {% else %}
    body.{{ p_model.name|lower }} = {{ p_model.name|lower }};
      {% endif %}

    {{model.name}} dbEntity = {{model.name|lower}}Repository.{{ p_hibernate.find_by_parentid_and_id }}({{ p_m_hibernate.parameter_joined_id }}, id)
    {% else %}
    {{model.name}} dbEntity = {{model.name|lower}}Repository.{{ model.hibernate.find_by_id }}(id)
    {% endif %}
        .orElseThrow(() -> AppException.entityNotFound({{model.name}}.class, id));

    // update dbEntity with all writeable fields if present
    dbEntity.update(body);

    {{model.name}} ret = {{model.name|lower}}Repository.save(dbEntity);

    return ret;
  {% elif operation.method == "delete" %}
    {# 
     ########################################################################################
      Delete entities.
    #}
    {% if operation.parent %}
    // confirm existence of parent
    validate{{ p_model.name }}({{ p_m_hibernate.parameter_joined_id }});

    {% endif %}
    try {
      {{model.name|lower}}Repository.{{ model.hibernate.delete_by_id }}(id);
    }
    catch (DataRetrievalFailureException e) {
      throw AppException.entityNotFound({{model.name}}.class, id);
    }

    return null;
  {% endif %}
{% endmacro %}