{% macro logic(operation) -%}
  {% if operation.parent %}
  {% set p_model = operation.parent.model %}
  {% set p_hibernate = operation.parent.hibernate %}
  {% set p_m_hibernate = operation.parent.model.hibernate %}
  {% endif %}
  {% if operation.method == "get" and operation.is_pageable %}
    {# 
     ########################################################################################
      Get all entities.
    #}
    {% if operation.parent %}
    // confirm existence of parent
    // should be optimized with something like getReferenceById
    {{p_model.name}} {{ p_model.name|lower }} = fetch{{p_model.name}}FromDb({{ p_m_hibernate.parameter_joined_id }});

    List<String> queryParameters = Arrays.asList({% for parameter in operation.query_parameters %}"{{parameter.name}}"{{ ", " if not loop.last}}{% endfor %}); 
    BooleanBuilder predicate = PredicateBuilder.build(context.getParameterMap(queryParameters), {{model.name}}.class);
    predicate.and(Q{{model.name}}.{{model.name|camel}}.{{operation.parent.predicate}}.id.eq({{ p_model.name|lower }}.getId()));
    {% else %}
    List<String> queryParameters = Arrays.asList({% for parameter in operation.query_parameters %}"{{parameter.name}}"{{ ", " if not loop.last}}{% endfor %}); 
    BooleanBuilder predicate = PredicateBuilder.build(context.getParameterMap(queryParameters), {{model.name}}.class);
    {% endif %}

    CursorPage ret = {{model.name|lower}}Repository.findAll(predicate, pageable);

    return ret;
  {% elif operation.method == "post" and ( operation.path.endswith('/add') or operation.path.endswith('/remove') ) %}
    {# 
     ########################################################################################
      Create a entity.
    #}
    // get and confirm existence
    {{ p_model.name }} {{ p_model.name|lower }} = fetch{{p_model.name}}FromDb({{ p_m_hibernate.parameter_joined_id }});

    {% if operation.path.endswith('/add') %}
    {{ model.name }} {{ model.name|lower }} = fetch{{model.name}}FromDb(id);

    if ({{ model.name|lower }}.{{ p_model.name|lower }}s.contains({{ p_model.name|lower }})) {
      throw AppException.entityAlreadyAdded({{ model.name }}.class, id);
    }

    {{ model.name|lower }}.addTo{{ p_model.name }}s({{ p_model.name|lower }});
    {% elif operation.path.endswith('/remove') %}
    {{ model.name }} {{ model.name|lower }} = fetch{{model.name}}From{{p_model.name}}FromDb({{ p_model.name|lower }}.getId(), id);

    {{ model.name|lower }}.removeFrom{{ p_model.name }}s({{ p_model.name|lower }});
    {% endif %}

    {{ model.name|lower }}Repository.save({{ model.name|lower }});

    return null;
  {% elif operation.method == "post" %}
    {# 
     ########################################################################################
      Create a entity.
    #}
    {% if operation.parent %}
    // confirm existence of parent
    {{p_model.name}} {{ p_model.name|lower }} = fetch{{p_model.name}}FromDb({{ p_m_hibernate.parameter_joined_id }});

    // add parent relation
    {% if encapsulation %}
    body.set{{ p_model.name }}({{ p_model.name|lower }});
    {% else %}
    body.{{ p_model.name|lower }} = {{ p_model.name|lower }};
    {% endif %}

    {% endif %}
    {{model.name}} ret = {{model.name|lower}}Repository.save(body);

    return ret;
  {% elif operation.method == "get" %}
    {# 
     ########################################################################################
      Get a entity.

    #}
    {% if operation.parent %}
    // confirm existence of parent
    {{p_model.name}} {{ p_model.name|lower }} = fetch{{p_model.name}}FromDb({{ p_m_hibernate.parameter_joined_id }});

    {{model.name}} ret = fetch{{model.name}}From{{p_model.name}}FromDb({{ p_model.name|lower }}.getId(), id);
    {% else %}
    {{model.name}} ret = fetch{{model.name}}FromDb(id);
    {% endif %}

    return ret;
  {% elif operation.method == "put" %}
    {# 
     ########################################################################################
      Replace entities.
    #}
    {% if operation.parent %}
    // confirm existence of parent
    {{p_model.name}} {{ p_model.name|lower }} = fetch{{p_model.name}}FromDb({{ p_m_hibernate.parameter_joined_id }});

    // add parent relation
      {% if encapsulation %}
    body.set{{ p_model.name }}({{ p_model.name|lower }});
      {% else %}
    body.{{ p_model.name|lower }} = {{ p_model.name|lower }};
      {% endif %}

    {{model.name}} dbEntity = fetch{{model.name}}From{{p_model.name}}FromDb({{ p_model.name|lower }}.getId(), id);
    {% else %}
    {{model.name}} dbEntity = fetch{{model.name}}FromDb(id);
    {% endif %}

    // update dbEntity with all writeable fields
    dbEntity.replace(body);

    {{model.name}} ret = {{model.name|lower}}Repository.save(dbEntity);

    return ret;
  {% elif operation.method == "patch" %}
    {# 
     ########################################################################################
      Patch entities.
    #}
    {% if operation.parent %}
    // confirm existence of parent
    {{p_model.name}} {{ p_model.name|lower }} = fetch{{p_model.name}}FromDb({{ p_m_hibernate.parameter_joined_id }});

    // add parent relation
      {% if encapsulation %}
    body.set{{ p_model.name }}({{ p_model.name|lower }});
      {% else %}
    body.{{ p_model.name|lower }} = {{ p_model.name|lower }};
      {% endif %}

    {{model.name}} dbEntity = fetch{{model.name}}From{{p_model.name}}FromDb({{ p_model.name|lower }}.getId(), id);
    {% else %}
    {{model.name}} dbEntity = fetch{{model.name}}FromDb(id);
    {% endif %}

    // update dbEntity with all writeable fields if present
    dbEntity.update(body);

    {{model.name}} ret = {{model.name|lower}}Repository.save(dbEntity);

    return ret;
  {% elif operation.method == "delete" %}
    {# 
     ########################################################################################
      Delete entities.
    #}
    {% if operation.parent %}
    // confirm existence of parent
    {{p_model.name}} {{ p_model.name|lower }} = fetch{{p_model.name}}FromDb({{ p_m_hibernate.parameter_joined_id }});

    {{model.name}} dbEntity = fetch{{model.name}}From{{p_model.name}}FromDb({{ p_model.name|lower }}.getId(), id);
    {% else %}
    {{model.name}} dbEntity = fetch{{model.name}}FromDb(id);
    {% endif %}

    {{model.name|lower}}Repository.delete(dbEntity);

    return null;
  {% endif %}
{% endmacro %}