{% macro logic(operation) -%}
  {% if operation.method == "get" and operation.is_pageable %}
    {# 
     ########################################################################################
      Get all entities.
    #}
    {% if operation.domain_parent %}
    // confirm existence of parent
    validate{{ operation.path_parameters[0].name | pascal }}({{ operation.path_parameters[0].name }});

    {% endif %}
    {% for parameter in operation.query_parameters %}
    pageable.query.put("{{parameter.name}}", {{parameter.name}});{{ "\n" if  loop.last}}
    {% endfor %}
    List<{{api.name}}> items = {{api.name|lower}}Repository.{{ operation.get_repo_find_all_name() }}({{ operation.get_repo_find_all_parameters() }});

    Long totalCount = pageable.count ? {{api.name|lower}}Repository.{{ operation.get_repo_count_name() }}({{ operation.get_repo_find_all_parameters() }}) : null;
    String nextCursor = pageable.getNextCursor(items);

    ObjectList ret = new ObjectList();
    ret.totalCount = totalCount;
    ret.nextCursor = nextCursor;
    ret.items = items;

    return ret;
  {% elif operation.method == "post" and ( operation.path.endswith('/add') or operation.path.endswith('/remove') ) %}
    {# 
     ########################################################################################
      Create a entity.
    #}
    // get and confirm existence
    // we are not using getById here because somehow the reference does not work when using a public field
    {{ operation.domain_parent.name }} {{ operation.domain_parent.name|lower }} = {{ operation.domain_parent.name|lower }}Repository.findById({{ operation.path_parameters[0].name }})
        .orElseThrow(() -> AppException.entityNotFound({{ operation.domain_parent.name }}.class, {{ operation.path_parameters[0].name }}));

    {{ operation.domain_object.name }} {{ operation.domain_object.name|lower }} = {{ operation.domain_object.name|lower }}Repository.findById({{ operation.path_parameters[1].name }})
        .orElseThrow(() -> AppException.entityNotFound({{ operation.domain_object.name }}.class, {{ operation.path_parameters[1].name }}));

    {% if encapsulation %}
      {% if operation.path.endswith('/add') %}
    {{ operation.domain_parent.name|lower }}.get{{ operation.get_aggregation_parameter() | pascal }}().add({{ operation.domain_object.name | lower }});
      {% elif operation.path.endswith('/remove') %}
    {{ operation.domain_parent.name|lower }}.get{{ operation.get_aggregation_parameter() | pascal }}().remove({{ operation.domain_object.name | lower }});
      {% endif %}
    {% else %}
      {% if operation.path.endswith('/add') %}
    {{ operation.domain_parent.name|lower }}.{{ operation.get_aggregation_parameter() }}.add({{ operation.domain_object.name | lower }});
      {% elif operation.path.endswith('/remove') %}
    {{ operation.domain_parent.name|lower }}.{{ operation.get_aggregation_parameter() }}.remove({{ operation.domain_object.name | lower }});
      {% endif %}
    {% endif %}

    {{ operation.domain_parent.name|lower }}Repository.save({{ operation.domain_parent.name|lower }});

    return null;
  {% elif operation.method == "post" %}
    {# 
     ########################################################################################
      Create a entity.
    #}
    {% if operation.domain_parent %}
    // confirm existence of parent
    validate{{ operation.path_parameters[0].name | pascal }}({{ operation.path_parameters[0].name }});

    // add parent relation
    {{ operation.domain_parent.name }} {{ operation.domain_parent.name|lower }} = {{ operation.domain_parent.name|lower }}Repository.getById({{ operation.path_parameters[0].name }});
    {% if encapsulation %}
    body.set{{ operation.domain_parent.name }}({{ operation.domain_parent.name|lower }});
    {% else %}
    body.{{ operation.domain_parent.name|lower }} = {{ operation.domain_parent.name|lower }};
    {% endif %}

    {% endif %}
    {{api.name}} ret = {{api.name|lower}}Repository.save(body);

    return ret;
  {% elif operation.method == "get" %}
    {# 
     ########################################################################################
      Get a entity.

    #}
    {% if operation.domain_parent %}
    // confirm existence of parent
    validate{{ operation.path_parameters[0].name | pascal }}({{ operation.path_parameters[0].name }});

    {% endif %}
    {{api.name}} ret = {{api.name|lower}}Repository.find{{ operation.get_repo_by_id_name() }}({{ operation.get_repo_by_id_parameters() }})
        .orElseThrow(() -> AppException.entityNotFound({{api.name}}.class, id));

    return ret;
  {% elif operation.method == "put" %}
    {# 
     ########################################################################################
      Replace entities.
    #}
    {% if operation.domain_parent %}
    // confirm existence of parent
    validate{{ operation.path_parameters[0].name | pascal }}({{ operation.path_parameters[0].name }});

    // add parent relation
    {{ operation.domain_parent.name }} {{ operation.domain_parent.name|lower }} = {{ operation.domain_parent.name|lower }}Repository.getById({{ operation.path_parameters[0].name }});
      {% if encapsulation %}
    body.set{{ operation.domain_parent.name }}({{ operation.domain_parent.name|lower }});
      {% else %}
    body.{{ operation.domain_parent.name|lower }} = {{ operation.domain_parent.name|lower }};
      {% endif %}

    {% endif %}
    {{api.name}} dbEntity = {{api.name|lower}}Repository.find{{ operation.get_repo_by_id_name() }}({{ operation.get_repo_by_id_parameters() }})
        .orElseThrow(() -> AppException.entityNotFound({{api.name}}.class, id));

    // update dbEntity with all writeable fields
    dbEntity.replace(body);

    {{api.name}} ret = {{api.name|lower}}Repository.save(dbEntity);

    return ret;
  {% elif operation.method == "patch" %}
    {# 
     ########################################################################################
      Patch entities.
    #}
    {% if operation.domain_parent %}
    // confirm existence of parent
    validate{{ operation.path_parameters[0].name | pascal }}({{ operation.path_parameters[0].name }});

    // add parent relation
    {{ operation.domain_parent.name }} {{ operation.domain_parent.name|lower }} = {{ operation.domain_parent.name|lower }}Repository.getById({{ operation.path_parameters[0].name }});
      {% if encapsulation %}
    body.set{{ operation.domain_parent.name }}({{ operation.domain_parent.name|lower }});
      {% else %}
    body.{{ operation.domain_parent.name|lower }} = {{ operation.domain_parent.name|lower }};
      {% endif %}

    {% endif %}
    {{api.name}} dbEntity = {{api.name|lower}}Repository.find{{ operation.get_repo_by_id_name() }}({{ operation.get_repo_by_id_parameters() }})
        .orElseThrow(() -> AppException.entityNotFound({{api.name}}.class, id));

    // update dbEntity with all writeable fields if present
    dbEntity.update(body);

    {{api.name}} ret = {{api.name|lower}}Repository.save(dbEntity);

    return ret;
  {% elif operation.method == "delete" %}
    {# 
     ########################################################################################
      Delete entities.
    #}
    {% if operation.domain_parent %}
    // confirm existence of parent
    validate{{ operation.path_parameters[0].name | pascal }}({{ operation.path_parameters[0].name }});

    {% endif %}
    try {
      {% if model.has_aggregation %}
      {{api.name|lower}}Repository.removeRelations({{operation.path_parameters[-1].name}});
      {% endif %}
      {{api.name|lower}}Repository.deleteById({{operation.path_parameters[-1].name}});
    } catch (DataRetrievalFailureException e) {
      throw AppException.entityNotFound({{api.name}}.class, id);
    }

    return null;
  {% endif %}
{% endmacro %}