{%- macro get_response(operation) -%}

  {%- if operation.response -%}
    {%- if operation.response.is_array -%}
      List<{{operation.response.type}}>
    {%- else -%}
      {{operation.response.type}}
    {%- endif %}
  {%- else -%}
    Void
  {%- endif -%}

{%- endmacro %}

{%- macro paramsController(operation) -%}

  {%- for parameter in operation.path_parameters -%}
    @PathVariable("{{parameter.json_key}}") {{ param_helper(parameter) }}
    {%- if not loop.last or operation.query_parameters or operation.is_pageable or operation.body_parameters -%}{{", "}}{% endif -%}
  {%- endfor %}

  {%- if operation.is_pageable -%}
      AppPageable pageable
    {%- if operation.body_parameters -%}{{", "}}{% endif -%}
  {%- endif -%}

  {%- if operation.body_parameters and operation.body_parameters|length > 1 -%}
      @RequestBody ObjectNode body
  {%- elif operation.body_parameters and operation.method == "patch" -%}
      @RequestBody {{ param_helper(operation.body_parameters[0]) }}
  {%- elif operation.body_parameters -%}
      @Valid @RequestBody {{ param_helper(operation.body_parameters[0]) }}
  {%- endif -%}

{%- endmacro %}

{%- macro paramsService(operation) -%}

  {%- for parameter in operation.path_parameters -%}
      {{ param_helper(parameter) }}
    {%- if not loop.last or operation.is_pageable or operation.body_parameters -%}, {% endif -%}
  {%- endfor %}

  {%- if operation.is_pageable -%}
      MultiValueMap<String, String> queryParameters, AppPageable pageable
    {%- if operation.body_parameters -%}{{", "}}{% endif -%}
  {%- endif -%}

  {%- if operation.body_parameters and operation.body_parameters|length > 1 -%}
      ObjectNode body
  {%- elif operation.body_parameters -%}
      {{ param_helper(operation.body_parameters[0]) }}
  {%- endif -%}

{%- endmacro %}

{%- macro paramsCallService(operation) -%}

  {%- for parameter in operation.path_parameters -%}
      {{parameter.name}}
    {%- if not loop.last or operation.is_pageable or operation.body_parameters -%}, {% endif -%}
  {%- endfor %}

  {%- if operation.is_pageable -%}
      super.getQueryMap(), pageable
    {%- if operation.body_parameters -%}{{", "}}{% endif -%}
  {%- endif -%}

  {%- if operation.body_parameters and operation.body_parameters|length > 1 -%}
      body
  {%- elif operation.body_parameters -%}
      {{operation.body_parameters[0].name}}
  {%- endif -%}

{%- endmacro %}

{%- macro paramsCallServiceMocked(operation) -%}

  {%- for parameter in operation.path_parameters -%}
      any()
    {%- if not loop.last or operation.is_pageable or operation.body_parameters -%}, {% endif -%}
  {%- endfor %}

  {%- if operation.is_pageable -%}
      any(), any()
    {%- if operation.body_parameters -%}{{", "}}{% endif -%}
  {%- endif -%}

  {%- if operation.body_parameters and operation.body_parameters|length > 1 -%}
      any()
  {%- elif operation.body_parameters -%}
      any()
  {%- endif -%}

{%- endmacro %}

{%- macro paramsCallServiceMocked2(operation) -%}

  {%- for parameter in operation.path_parameters -%}
      1l
    {%- if not loop.last or operation.query_parameters or operation.is_pageable -%}, {% endif -%}
  {%- endfor -%}

  new LinkedMultiValueMap<>(), new AppPageable(null, 5l, true)

{%- endmacro %}

{%- macro param_helper(parameter) -%}

  {%- if parameter.is_array -%}
    List<{{parameter.type}}> {{parameter.name}}
  {%- else -%}
    {{parameter.type}} {{parameter.name}}
  {%- endif %}

{%- endmacro %}