{# 
  Returns the class annotation
#}
{% macro class_annotation() %}
  {{- "@Entity" if (model.is_object and model.is_crud) or model.is_nested }}
  {{- "@MappedSuperclass" if model.is_supertype }}
{% endmacro %}

{# 
  Returns a class identifier.
#}
{% macro class_identifier() %}
  {% if (model.is_base and model.is_nested) or (model.is_crud and not model.has_id) %}
  @Id
  @GeneratedValue(generator="optimized-sequence")
  @JsonIgnore
  private Long id;

  {% endif %}
{% endmacro %}

{# 
  Returns a class identifier.
#}
{% macro attribute_annotation(attr) -%}
  {#
    ID
  #}
  {% if attr.is_id %}
  @Id
    {% if attr.is_read_only %}
  @GeneratedValue(generator="optimized-sequence")
    {% endif %}
  {% endif %}
  {#
    Serialization for objects
  #}
  {% if attr.type == "Object" %}
  @Column(columnDefinition = "BINARY(1048576)")
  @org.hibernate.annotations.Type(type = "serializable")
  {% endif %}
  {#
    Relations
  #}
  {% if attr.is_relation and attr.forgein_key and attr.forgein_key_with_join_table  %}
  @ManyToOne(fetch = FetchType.LAZY)
  @JoinTable(name = "ticket_to_user", joinColumns = @JoinColumn(name = "user_id"), inverseJoinColumns = @JoinColumn(name = "ticket_id"))
  {% elif attr.is_relation and attr.forgein_key %}
  @ManyToOne(fetch = FetchType.LAZY)
  @JoinColumn(name="fk_{{attr.forgein_key|lower}}")
  {% elif attr.is_relation %}
  @OneToMany(mappedBy = "{{model.name|lower}}", fetch = FetchType.LAZY, orphanRemoval = true)
  {% elif model.is_base and model.is_nested %}
  @ElementCollection
  {% endif %}
{% endmacro %}

