{
  "editor.foldingImportsByDefault": true,
  "java.compile.nullAnalysis.mode": "automatic",
  "java.completion.importOrder": [
    "#",
    "",
  ],
  "java.configuration.updateBuildConfiguration": "automatic",
  "java.dependency.packagePresentation": "hierarchical",
  "java.format.enabled": false, // disable built-in formatter
  "java.project.explorer.showNonJavaResources": false,
  "java.saveActions.organizeImports": false, // disable auto organize imports
}